.p-iframe{
  background: #909090;
}
.c-line__iframe{
  background-color: #2DE070;
  position: relative;
}
.c-line__iframe::before{
  content: "";
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #2D4BE0;
}
@media screen and (min-width: 1126px) { /* pc用スタイル */
  .p-iframe{
    height: auto;
    min-width: 1126px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 200px;
  }
  .c-line__iframe{
    margin: 0 0 0 -100px;
  }
  .p-iframe__map{
    width: 100%;
    height: 600px;
    margin: 200px 0 0 0;
    border: none;
  }
}
@media screen and (min-width: 760px) and (max-width: 1125px) { /* タブレット用のスタイル */
  .p-iframe{
    height: auto;
    min-width: 770px;
    max-width: 1125px;
    padding: 100px 50px 100px 50px;
  }
  .c-title__iframe{
    padding: 0 0 0 100px;
  }
  .p-iframe__map{
    width: 100%;
    height: 600px;
    margin: 100px 0 0 0;
    border: none;
  }
}
@media screen and (max-width: 759px) { /*スマホ用スタイル */
  .p-iframe{
    height: auto;
    max-width: 759px;
    padding: 50px 48px 50px 48px;
  }
  .c-title__iframe{
    padding: 0 0 0 100px;
  }
  .p-iframe__map{
    width: 100%;
    height: 300px;
    margin: 50px 0 0 0;
    border: none;
  }
}