<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="expires" content="604800">
    <meta name="format-detection" content="email=no,telephone=no,address=no">
    <title>【カリキュラム番号】| 【カリキュラム名】</title>
    <meta name="description" content="【カリキュラム番号】| 【カリキュラム名】のdescriptionです">
    <link rel="icon" href="assets/images/common/favicon.ico">
    <link rel="stylesheet" href="assets/stylesheets/app.css">
  </head>
  <body>
  <header class="p-header">
    <div class="p-header__inner">
      <div class="p-header__container">
        <div>
          <img class="p-header__logoImage" src="../template/assets/images/200x150.png"  alt="ロゴ">
        </div>
        <p class="p-header__title">カリキュラム</p>
      </div>
      <nav class="p-header__nav">
        <ul class="p-header__navList">
          <li class="p-header__navItem" id="header">
            <a href="#table" class="p-button__Tabsle">Table</a></li>
          <li class="p-header__navItem" id="header">
            <a href="#contact" class="p-button__Contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <section class="p-section">
      <div class="p-heading">
        <h1 class="c-title c-title__flex">FLEX</h1>
        <div class="c-line c-line__flex"></div>
      </div>
      <ul class="p-gallery">
        <li class="p-gallery__card">
          <div class="p-gallery__frame">
            <img class="p-section__image" src="../template/assets/images/400x300.png" alt="img">
          </div>
        </li>
        <li class="p-gallery__card">
          <div class="p-gallery__frame">
            <img class="p-section__image" src="../template/assets/images/400x300.png" alt="img">
          </div>
        </li>
        <li class="p-gallery__card">
          <div class="p-gallery__frame">
            <img class="p-section__image" src="../template/assets/images/400x300.png" alt="img">
          </div>
        </li>
      </ul>
      <div class="p-thumbnail">
        <ul class="p-thumbnail__list">
          <li class="p-thumbnail__card">
            <div class="p-thumbnail__frame">
              <img src="../template/assets/images/300x200_5.png" alt="gallery">
            </div>
          </li>
          <li class="p-thumbnail__card">
            <div class="p-thumbnail__frame">
              <img src="../template/assets/images/300x200_4.png" alt="gallery">
            </div>
          </li>
          <li class="p-thumbnail__card">
            <div class="p-thumbnail__frame">
              <img src="../template/assets/images/300x200_3.png" alt="gallery">
            </div>
          </li>
          <li class="p-thumbnail__card">
            <div class="p-thumbnail__frame">
              <img src="../template/assets/images/300x200_2.png" alt="gallery">
            </div>
          </li>
          <li class="p-thumbnail__card">
            <div class="p-thumbnail__frame">
              <img src="../template/assets/images/300x200_1.png" alt="gallery">
            </div>
          </li>
        </ul>
      </div>
      <div class="p-card__group">
        <ul class="p-card__list">
          <li class="p-card">
            <div class="p-card__frame">
              <img class="p-card__image" src="../template/assets/images/300x200.png" alt="画像１">
            </div>
            <h2 class="p-card__title">サンプルテキストサン プル</h2>
            <p class="p-card__text">サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
          </li>
          <li class="p-card">
            <div class="p-card__frame">
              <img class="p-card__image" src="../template/assets/images/300x200.png" alt="画像2">
            </div>
            <h2 class="p-card__title">サンプルテキストサン</h2>
            <p class="p-card__text">サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
          </li>
          <li class="p-card">
            <div class="p-card__frame">
              <img class="p-card__image" src="../template/assets/images/300x200.png" alt="画像3">
            </div>
            <h2 class="p-card__title">サンプルテキストサン プル</h2>
            <p class="p-card__text">サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプル</p>
          </li>
        </ul>
      </div>
      <nav class="p-footer">
        <div class="p-footer__list">
          <div class="p-footer__image--wrapper">
            <img class="p-footer__image" src="../template/assets/images/300x200.png" alt="img">
          </div>
        </div>
        <div class="p-footer__item">
          <p class="p-footer__text">サンプルテキスト</p>
        </div>
      </nav>
    </section>
    <section class="p-position">
      <div class="p-position__box">
        <h1 class="c-title c-title__position">POSITION</h1>
        <div class="c-line c-line__position"></div>
      </div>
      <div class="P-group">
        <ul class="p-group__primary">
          <li class="p-group__primary--box">
            <div class="P-group__frame">
              <picture>
                <source media="(max-width:759px)" srcset="../template/assets/images/300x150_gray.png">
                <source media="(max-width:1125px)" srcset="../template/assets/images/400x160_gray.png">
                <img class="p-group__image" src="../template/assets/images/600x250_gray.png" alt="IMG">
              </picture>
            </div>
              <p class="p-group__text">
                サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              </p>
          </li>
        </ul>
      </div>
      <div class="P-secondary">
        <div class="p-secondary__primary">
          <div class="p-secondary__box">
            <h2 class="p-secondary__title">サンプルテキスト</h2>
            <h3 class="p-secondary__text">サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            </h3>
          </div>
        </div>
      </div>
    </section>
    <section class="p-iframe">
      <div class="p-iframe__box">
        <h1 class="c-title c-title__iframe">IFRAME</h1>
        <div class="c-line c-line__iframe"></div>
        <iframe class="p-iframe__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.611776432172!2d139.69758607501316!3d35.66193547259345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca88ae1bdff%3A0xa10ecff28720b350!2z44CSMTUwLTAwNDEg5p2x5Lqs6YO95riL6LC35Yy656We5Y2X77yR5LiB55uu77yS77yQ4oiS77ySIOesrOS4gOa4heawtOODk-ODqw!5e0!3m2!1sja!2sjp!4v1744040590849!5m2!1sja!2sjp"
        style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </section>
    <section class="p-table" id="table">
      <div class="c-title c-title__table">TABLE</div>
      <div class="c-line c-line__table"></div>
      <div class="p-menu">
        <table>
          <tr class="p-menu__basic">
            <th class="th">基本情報</th>
            <th class="th" style="background-color: #A82C2C;">お試しプラン</th>
            <th class="th">レギュラープラン</th>
            <th class="th">プレミアムプラン</th>
          </tr>
          <tr class="p-menu__price">
            <td class="th" class="p-menu__subMenu">価格</td>
            <td class="p-menu__free">無料</td>
            <td style="font-weight: bold;">1,000/月<br>10,000/年</td>
            <td style="font-weight: bold;">2,000/月<br>20,000/年</td>
          </tr>
          <tr class="p-menu__storage">
            <td class="th" class="p-menu__subMenu">ストレージ</td>
            <td class="td">100MG</td>
            <td class="td">50GB</td>
            <td class="td">100GB</td>
          </tr>
          <tr class="p-menu__member">
            <td class="th" class="p-menu__subMenu">登録人数</td>
            <td class="td">10名まで</td>
            <td class="td">100名まで</td>
            <td class="td">200名まで</td>
          </tr>
          <tr class="p-menu__payment">
            <td class="th" class="p-menu__subMenu">支払い方法</td>
            <td class="td" colspan="3">クレジットカード/銀行振込</td>
          </tr>
        </table>
      </div>
    </section>
    <section class="p-contact" id="contact">
      <h1 class="c-title c-title__contact">CONTACT</h1>
      <div class="c-line c-line__contact"></div>
      <form class="p-form">
        <div class="p-form__group">
          <label for="p-form__subject" class="c-form__label">
            <span class="c-form__text">お問い合わせ項目</span>
            <span class="c-form__required">必須</span>
          </label>
          <select id="p-form__choice"
                  name="choice"
                  class="c-form__input"
                  required>
                  <option value="">選択してください</option>
          </select>
        </div>
        <div class="p-form__group">
          <label for="p-form__name" class="c-form__label">
            <span class="c-form__text">お名前（漢字）</span>
            <span class="c-form__required">必須</span>
          </label>
          <input type="text"
                 id="p-form__name"
                 name="name"
                 class="c-form__input"
                 placeholder="お名前をご入力ください"
                 required>
        </div>
        <div class="p-form__group">
          <label class="c-form__text">会社種別</label>
            <div class="c-form__radio">
              <label class="c-form__radio-item">
                <input class="c-form__corp" type="radio" name="company_type" value="corporation"> 法人
              </label>
              <label class="c-form__radio-item">
                <input class="c-form__indiv" type="radio" name="company_type" value="sole_proprietor"> 個人事業主
              </label>
            </div>
          </label>
        </div>
        <div class="p-form__group">
          <label for="p-form__company" class="c-form__label">
            <span class="c-form__text">会社名</span>
            <span class="c-form__required">必須</span>
          </label>
          <input type="text"
                 id="contact-company"
                 name="company"
                 class="c-form__input"
                 placeholder="会社名をご入力ください"
                 required>
        </div>
        <div class="p-form__group">
          <label for="p-form__email" class="c-form__label">
            <span class="c-form__text">メールアドレス</span>
            <span class="c-form__required">必須</span>
          </label>
          <input type="email"
                 id="contact-email"
                 name="email"
                 class="c-form__input"
                 placeholder="example@gmail.com"
                 required>
        </div>
        <div class="p-form__group p-form__message">
          <label for="p-form__message" class="c-form__label">
            <span class="c-form__text">お問い合わせ内容</span>
            <span class="c-form__required">必須</span>
          </label>
          <textarea id="p-form__message"
                    name="message"
                    class="c-form__textarea"
                    placeholder="お問い合わせ内容をご入力ください"
                    required></textarea>
        </div>
        <div class="p-form__group">
          <label for="p-form__privacy" class="c-form__label">
            <span class="c-form__text">プライバシーポリシー</span>
          </label>
          <textarea id="p-form__privacy"
                    name="privacy"
                    class="c-form__textarea"
                    required>個人情報の取り扱いについて

株式会社サクセスストーリー
        
サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</textarea>
        </div>
          <label class="p-form__checkbox">
            <input type="checkbox" id="contact-privacy" name="privacy" required>
            個人情報の取扱について、同意します
          </label>
          <button type="submit" class="p-form__button">送信する</button>
        </div>
      </form>
      <script>
        function updatePlaceholder() {
          const textarea = document.getElementById('p-form__message');
          const width = window.innerWidth;
          if (width <= 1125) {
            textarea.placeholder = '内容をご入力ください';
          } else {
            textarea.placeholder = 'お問い合わせ内容をご入力ください';
          }
        }
        updatePlaceholder();
        window.addEventListener('resize', updatePlaceholder);
      </script>
    </section>
  </main>
</body>
</html>